.mainhead
{
   padding-bottom:20px;
}
.mainhead .container
{
   background-color:#663300;
   width:100%;     
}

.mainhead .container p
{
   text-align:right;
   padding-right:150px;
   padding-top:10px;
   color:#ffffff;
}

.logo .container  div ul li
{
   padding-right:50px;
   color:#808080;
}
.searchinput .container #search #searchinp
{
  background: url(images/searchicon.png) no-repeat scroll 5px 5px;
  padding-left:7px;
  padding-right:5px;
  text-indent:20px;  
}

.nav .container 
{
  border-bottom:3px solid #dbdbdb;
  padding-bottom:0px;

}

.nav .container  .bigmenu {
    position:relative;
    width: 800px;
    float: left;
    margin: 0;
    list-style-type: none;
}
.nav .container .bigmenu .mainmenuli {
    vertical-align: middle;
    display: inline;
    margin: 0;
    color: black;
    list-style-type: none;
	/*z-index: 10;*/
}
.nav .container  .bigmenu .mainmenuli a {
    text-decoration: none;
    white-space: nowrap;
    line-height: 45px;
    font-size: 13px;
    color: #666;
    padding: 5px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.nav .container  .bigmenu .mainmenuli a:hover {
    color: #fff;
    background-color: #4caef2;
}
/*.nav .container ul li a:visited {
    color: #666;
}*/

/* Hide Sub-menus */
.nav .container  .bigmenu ul{
    display: none;
}
/* SHOW Sub-menus on HOVER */
/*
.nav .container  .bigmenu .mainmenuli:hover ul{
    display:block;
    margin:28px 0 0 0;
    padding:0px 0px 0px 0px;	
    border-color:#fff;
    border:1px;
    border-style:solid;
    background:#FFF;
    position:absolute;
    top:0px;
    width:150px;	
	z-index: 9;
}*/

.logo .container .pull-right #specialoffer 
{
    
   width:180px;
   background-color:#ffec8b;
   height:80px;
   padding-left:10px;
   margin-left:60px;
   margin-top:20px;
   border:2px dashed gray;
}

.logo .container .pull-right #specialoffer  p
{
   padding-top:12px;
   font-size:.9em;
   font-weight:bold;
   
}
/*ends here*/
.maincontent { 
   position: relative;
   padding-bottom:20px;
   padding-top:20px;   
}

.maincontent .homepage
{
   margin-left:300px;

}
.maincontent .container .thumbnail img
{
  width:1300px;
}
.maincontent h2 { 
   position: absolute; 
   top: 50px; 
   left:600px;
   color:#ffffff;
}

.newproducts .container h2
{
  text-align:center;
  color:#CC3300;
  /*color:#808080;*/
  text-transform:uppercase;
  padding-bottom:20px;
  border-bottom:2px solid #dbdbdb;
  margin-top:80px;
  
}

.inneroptions .container h2
{
  text-align:center;
  color:#CC3300;
  /*color:#808080;*/
  text-transform:uppercase;
  padding-bottom:20px;
  border-bottom:2px solid #dbdbdb;
  margin-bottom:50px;
}


.newproducts .container a
{   
   color:#808080;
   font-size:15px;
}

.newproducts .container h3
{
  text-align:center;  
}
.newproducts .container p
{
   text-align:center;
   color:#CC3300;
   font-size:20px;
   font-weight:normal;
}

.newproducts .container
{
   border-bottom:2px solid #dbdbdb;
   padding-bottom:50px;
}

.newproducts .container .row .col-md-3 #cart
{
   margin-left:90px;
   align:center;
}

.inneroptions .container #category1
{
     width: 350px;
     height: 100px;
     padding: 5px;
     border: 1px dashed #AAAAAA;
     float:left;
	 margin:15px;
	 background-color:#663399;
	 border-radius:100px;
}

.inneroptions .container #category2
{
     width: 350px;
     height: 100px;
     padding: 5px;
     border: 1px dashed #AAAAAA;
     float:left;
	 margin:15px;
	 background-color:#FF6633;
	 border-radius:100px;
}

.inneroptions .container #category3
{
     width: 350px;
     height: 100px;
     padding: 5px;
     border: 1px dashed #AAAAAA;
    float:left;
	margin:15px;
	background-color:#66FF66;
	border-radius:100px;
}

.inneroptions .container #category1 h3, .inneroptions .container #category2 h3, .inneroptions .container #category3 h3
{
    color:white;
	text-align:center;
	font-weight:bold;
	font-size:40px;
}
/*.inneroptions .container .category1 h2
{
  color:white;
  font-weight:bold;
}*/
.bottomoptions .container
{
  
  padding-top:40px;
}

.bottomoptions .container p
{
  border-top:2px solid #dbdbdb;
  color:#CC3300;
  font-weight:normal;
  padding-left:25px;  
}

.bottomoptions .container li a
{
   color:#808080;
   font-weight:normal;   
}

.footer .container
{
  border-top:2px solid #dbdbdb;
  background-color:#663300;
  width:100%;
  padding:0;
  margin:0;
  height:28px;
}

address
{
 text-align:center;
  font-weight:bold;
  color:white;
  padding-top:5px;
}